@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla:ital@0;1&display=swap');
.navbar {
  height: auto;
  min-height:80px;
  width: auto;
  background: rgb(255, 255, 255, .5);
  backdrop-filter: blur(10px);
  display: flex;
  align-items:center;
  border-bottom: 1px solid #000000;
  /* box-shadow: #0e00d1 0px 2px 8px 0px; */
  justify-content:space-around;
  top:0;
  position:sticky;
}
.navbar img {
  width: 100px;
}
.navbar ul {
  display:flex;
  align-items: center;
  justify-content: center;
}
.navbar ul li {
  list-style-type:none;
  margin: 0px 10px;
  cursor: pointer;
}
.navbar ul li a{
  text-decoration:none;
   color:black;
  transition: background, 0.5s;
  font-family: 'Tiro Bangla', serif;
  font-weight: none;
  font-size: 16px;
  font-weight:700;
}
.navbar ul li a:hover {
    color: rgb(255, 255, 255);
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    background: #000000;
    border-radius: 5%;
    /* text-decoration: underline; */
}